*{
    padding: 0;
    margin: 0;
}
.section1{
    background-color: hsl(240, 64%, 98%);   
    height: 100vh;
}
.manediv{
    text-align: center;
    
    

}
.responsive3{
    position: absolute;
    left: 5vw;
}
.responsive1{
    position: absolute;
    left: 33vw;
}
.responsive2{
    position: absolute;
    left: 70vw;
}
.user{
    position: absolute;
    top: 170vh;
    left: 5vw;
}
.ai{
    position: absolute;
    left: 33vw;
    top: 170vh;
}
.camera{
    position: absolute;
    left: 70vw;
    top:170vh;
}
.array{
    text-align: center;
}
.arrayh3{
    font-size: xx-large;
}
.section3{
    position: relative;
    padding-top: 10vh;
    width: 100%;
   
}
.class1{
   padding: 2%;
    text-align: center;
    background-color: hsl(254, 75%, 59%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
}
.prh3{
    font-size: xx-large;
    position: relative;
    
}
.class47{
    position: absolute;
    padding-left: 2vw;
}
.class33{
    position: absolute;
    padding-left: 30vw;
}
.class331{
    position: absolute;
    padding-right: 25vw;
    
   
}
.a{
    padding: 10vh;
}

.class2{
    position: relative;
}
.img{
    margin-top: 25vh;
    position: absolute;
    display: block;
    margin-left: 40vw;
    
}
.v{
    position: absolute;
    margin-top: 34vh;
    margin-left: 18vw;
}
.parents{
    display: flex;
    gap: 2vw;
    padding-bottom: 10vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;

}
.h1{
    color: purple;
}
.navbar a{
    text-decoration: none;
    color: grey;
}
.list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn1{
    border-style: none;
    padding: 7px;
    background-color: purple;
    color: white;
    border-radius: 6px;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn2{
    border-style: none;
    padding: 5px;
    padding-inline: 15px;
    background-color: purple;
    color: white;
    border-radius: 6px;
}
.divbtn{
    padding-top: 20px;
}
.title h1{
    text-align: center;
}
.img1{
    padding-top: 20px;
    /* padding: 10vw; */
    /* padding-left: 50vw; */
}
@media (max-width:433px)  
    {
    body{
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
        
        
    }
    section{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .navbar{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 100%;
    }
    .manediv img{
        width: 20%;
    }
  
    .responsive3{
       position: absolute;
       top: 315vh;
       left: 15vw;
    }
    .responsive1{
        position: absolute;
        left: 1vw;
        top: 190vh;
    }
    .responsive2{
        position: absolute;
        left: 1vw;
        top: 220vh;
    }
    .user{
        position: absolute;
        top: 250vh;
        left: 17vw;
    }
    .ai{
        position: absolute;
        left: 1vw;
        top: 280vh;
    }
    .camera{
        position: absolute;
        left: 1vw;
        top:170vh;
    }
    .array{
        text-align: center;
    }
    .section3{
        padding-top: 100vh;
    }

    .parents img {
        width: 50%;
        
    }
    .parents{
        width: 50vw;
    }
    .section4{
        width: 100%;
    }
    .img{
        width: 50%;
        position: absolute;
        top: 130vh;
        right: 20vw;
    }
    /* .section1 img{
        width: 90%;
    } */
}