*{
    padding: 0;
    margin: 0;
}
.sections{
    background-color: hsl(240, 64%, 98%);   
    height: 100vh;
}
.manediv{
    text-align: center;
    
    

}
.responsive3{
    position: absolute;
    left: 5vw;
}
.responsive1{
    position: absolute;
    left: 33vw;
}
.responsive2{
    position: absolute;
    left: 70vw;
}
.user{
    position: absolute;
    top: 170vh;
    left: 5vw;
}
.ai{
    position: absolute;
    left: 33vw;
    top: 170vh;
}
.camera{
    position: absolute;
    left: 70vw;
    top:170vh;
}
.array{
    text-align: center;
}
.arrayh3{
    font-size: xx-large;
}
.section3{
    position: relative;
    padding-top: 10vh;
    width: 100%;
   
}
.class1{
   padding: 2%;
    text-align: center;
    background-color: hsl(254, 75%, 59%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
}
.prh3{
    font-size: xx-large;
    position: relative;
    
}
.class47{
    position: absolute;
    padding-left: 2vw;
}
.class33{
    position: absolute;
    padding-left: 30vw;
}
.class331{
    position: absolute;
    padding-right: 25vw;
    
   
}
.a{
    padding: 10vh;
}


.s2h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
       width: 80vw;
       padding-left: 100px;
    }
    .s2h2{
        display: flex;
        align-items: center;
        gap: 14px;
    
    }
    .s2h3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;

}
.h1{
    color: purple;
}
.navbar a{
    text-decoration: none;
    color: grey;
}
.list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn1{
    border-style: none;
    padding: 7px;
    background-color: purple;
    color: white;
    border-radius: 6px;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn2{
    border-style: none;
    padding: 5px;
    padding-inline: 15px;
    background-color: purple;
    color: white;
    border-radius: 6px;
}
.divbtn{
    padding-top: 20px;
}
.title h1{
    text-align: center;
}
.img1{
    padding-top: 20px;
    /* padding: 10vw; */
    /* padding-left: 50vw; */
}
.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chlay{
    display: flex;
    align-items: center;
    gap: 60px;
}
.mlay{
    padding-top: 30px;
}
.mlay p{
    color: grey;
    text-align: center;
}
.mlay h1{
    text-align: center;
}
.hh{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hh p{
    color: gray;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer1{
    padding-top: 20px;
}
.footer1 p{
    text-align: center;
}
.footer1 h1{
    text-align: center;
    font-size: x-large;
}
.form{
    padding-top: 10px;
   
}
.form input{
    padding: 7px;
    padding-inline: 50px;
}
.form button{
    border: none;
    padding: 7px;
    padding-inline: 94px;
    color: white;
    background-color: purple;
    margin-top: 3px;
}
.form p{
    text-align: center;
    color: grey;
    margin-top: 3px;
}
.footer2{
    display: flex;
    align-items: center;
    gap: 200px;
    padding-top: 40px;
}
.footer2 h5{
    color: purple;
    font-size: x-large;
}
.footer2 p{
    color: grey;
}
.listfooter{
    display: flex;
    gap: 10px;
}
@media (max-width:433px)  
    {
    /* body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 90%;
        
        
    } */
    section{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .navbar{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
 
    .section1 img{
        width: 90%;
    }
    
   .sections{
    display: none;
   }
   .section5{
        display: flex;
        align-items: start;

   }
   .chlay{
    flex-direction: column;
    gap: 5px;
   }
   .chlay img{
        width: 90%;
   }

    .s2h1{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: 50px;
        flex-direction: column-reverse;
    
    
    }
    
    .s2h2{
        border-radius: 50px ;
        background-color: rgb(247, 245, 245);
        gap: 14px;
        text-align: center;
    
    }
    .s2h3{
        row-gap: 30px;
    }
    .footer2{
        display: flex;
        align-items: center;
        padding-top: 20px;
        gap: 1px;
        flex-direction: column;
    }
   .section3{
    display: none;
    
   }
   .first-img img{
    width: 90%;
   }
  
}